/* Erkin Homepage Header START */
.homepage-header {
  margin-bottom: 50px;
}
.homepage-header * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hh-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #000;
  background-color: #000;
  width: 100%;
  height: 48px;
}
.hh-top-title {
  color: #fafafa;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.hh-lang {
  position: absolute;
  right: 150px;
}
.hh-nav {
  width: 100%;
  height: 38px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hh-logo {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.hh-links {
  display: flex;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.hh-links a:hover {
  text-decoration: underline;
}
.hh-input-box {
  display: flex;
  align-items: center;
}

.hh-input-wrapper {
  width: 100%;
  position: relative;
  flex-grow: 1;
}

.hh-input {
  width: 243px;
  height: 38px;
  border: none;
  padding: 7px 30px 7px 20px;
  background-color: #f5f5f5;
}

.hh-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.hh-input-box img {
  margin-left: 10px;
  width: 32px;
  height: 32px;
}

.hh-search-dropdown {
  position: absolute;
  width: 100%;
  max-height: 300px;
  background-color: #fff;
  overflow-y: auto;
  z-index: 1000;
  margin-top: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.product {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.product img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.product h3 {
  font-size: 14px;
  margin: 0;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product p {
  font-size: 14px;
  margin: 0;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.product-link:hover .product {
  background-color: #eef5ff;
}
.hh-nav-line {
  width: 100%;
  height: 1px;
  background-color: #003285;
  margin-top: 10px;
}
.hh-media-line {
  width: 1px;
  height: 100%;
  background-color: #f5f5f5;
  margin-left: 20px;
  margin-right: 20px;
}
.hh-media {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  background-color: #f4f4f4;
}
.hh-sidebar {
  width: 25%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.hh-sidebar-links {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.hh-sidebar-links li {
  margin-bottom: 10px;
}
.hh-sidebar-links a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s;
}
.hh-sidebar-links a:hover {
  color: #007bff;
}
.hh-arrow {
  font-size: 16px;
  transition: transform 0.3s;
}
.hh-sidebar-links a:hover .arrow {
  transform: translateX(5px);
}
.hh-slider-container {
  position: relative;
  width: 892px;
  height: 344px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.hh-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.hh-slide {
  display: flex;
  align-items: center;
  min-width: 100%;
  height: 100%;
}

.hh-text-content {
  width: 50%;
  padding: 20px;
  color: #fff;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 25px 0 0 50px;
}

.hh-text-content img {
  width: 40px;
  height: 49px;
}

.hh-text-content p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(24px, 3vw, 48px);
  line-height: 60px;
}
.hh-text-header {
  display: flex;
  gap: 20px;
}
.hh-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 24px;
  align-content: center;
}
.hh-shop-now {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.hh-media-navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.hh-nav-button {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.hh-nav-button.active {
  background-color: #ff0000;
}
.hh-ss {
  background-color: black;
  height: 344px;
}
.hh-links-copy {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.399);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.hh-links-copy li {
  width: 100%;
}
.hh-links-copy a {
  width: 100%;
}
.hh-menu-button {
  display: none;
}
@media (max-width: 1025px) {
  .hh-top {
    display: none;
  }
  .hh-media {
    flex-direction: column;
    align-items: center;
  }
  .hh-sidebar {
    width: 100%;
  }
  .hh-sidebar-links li {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .hh-arrow {
    display: none;
  }
  .hh-slider-container {
    width: 100%;
  }
  .hh-text-header img {
    width: 30px;
    height: 39px;
  }
}
@media (max-width: 950px) {
  .hh-hide {
    display: none;
  }
  .hh-menu-button {
    display: block;
  }
}
@media (max-width: 850px) {
  .hh-text-content {
    display: none;
  }
  .hh-slide img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
}
@media (max-width: 550px) {
  .hh-links-copy {
    width: 100%;
  }
}
/* Erkin Homepage Header END */

.homepage-title-boxes {
  display: flex;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 20px;
}
.homepage-title-boxes div {
  width: 20px;
  height: 40px;
  background-color: #db4444;
  margin-right: 10px;
  border-radius: 4px;
}
.homepage-title-boxes h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #db4444;
  font-size: 16px;
}
.browse-by-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.browse-by-container {
  font-family: "Poppins", sans-serif;
}
.category-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.category-box {
  height: 175px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: transform 0.5s ease;
}
.homepage-browse-category {
  margin: 0 auto;
  max-width: 1300px;
}

/* Umut Start Today's Product*/
.todaysProduct {
  position: relative;
  align-items: center;
  max-width: 1240px;
  margin: auto;
}

.todaysProductTitle {
  display: flex;
  gap: 20px;
  padding: 10px 0 0 10px;
  text-align: center;
  align-items: center;
}

.todaysProductLine {
  width: 20px;
  height: 40px;
  border: 1px;
  border-radius: 4px;
  background-color: #db4444;
}

.todaysTitle {
  font-family: "Poppins", sans-serif;
  color: #db4444;
}

.todayFlashSales {
  display: flex;
  padding: 10px 0 0 10px;
  gap: 100px;
}

.tfsTitle {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
}

.todayProductTimer {
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 10px;
  font-family: "Poppins", sans-serif;
}

.todayProductTimer > div > h2 {
  font-size: 30px;
  letter-spacing: 3px;
}

.tfsSection {
  font-size: 35px;
  color: #db4444;
}

.productDirection {
  display: flex;
  position: absolute;
  right: 0;
  border: none;
  gap: 15px;
}

.direction-Button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#prevButton {
  display: none;
}

.productViewButton {
  padding: 20px 40px;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 20px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: #db4444;
  color: #fff;
}

.product-Flash-Sale-Container {
  display: flex;
  max-width: 1300px;
  overflow-x: auto;
  gap: 30px;
}

.product-card {
  justify-content: center;
  margin: 10px 10px;
}

.product-Flash-Sale-Container::-webkit-scrollbar {
  display: none;
}

.img-container > img {
  position: relative;
  overflow: hidden;
  width: 270px;
  height: 270px;
  z-index: -1;
}

.add-card {
  transition: all 0s ease-in-out;
  transform: translate(0, 100%);
  color: white;
  text-align: center;
  cursor: pointer;
}

.img-container:hover .add-card {
  transition: all 1s ease-in-out;
  transform: translate(0, 0);
  background-color: #000000;
  color: #fff;
}

.product-title {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 50px;
  justify-content: center;
}

.product-price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  color: #db4444;
  height: 30px;
}

.product-price_block {
  color: #000000;
  opacity: 50%;
  text-decoration: line-through;
}

.product-stars {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-stars_voting {
  opacity: 50%;
}

.discountDetails {
  position: relative;
  top: -275px;
  left: 0;
  background-color: #db4444;
  width: 80px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  padding: 5px;
}

.favori-Button {
  position: relative;
  top: -380px;
  right: -220px;
  width: 20px;
}

#favoriButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  color: black;
  background-color: #fff;
}

@media (max-width: 900px) {
  .todayFlashSales {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3px;
    margin: 0 0 45px 0;
  }

  .productDirection {
    left: 170px;
    bottom: 590px;
  }
}

/* Umut Start Today's Product*/

/* Erkin Homepage New Arrivals START */
.homepage-new-arrivals {
  max-width: 1300px;
  margin: 50px auto;
}
.homepage-new-arrivals * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hna-logo-container {
  width: 216px;
  height: 108px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hna-logo {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hna-back {
  background-color: #db4444;
  width: 20px;
  height: 40px;
  border-radius: 4px;
}
.hna-logo-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #db4444;
}
.hna-title {
  width: 216px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}
.hna-grid-container {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  padding: var(-gap);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 16px;
  img {
    width: 100%;
    height: 100%;
  }
  padding-top: 50px;
}

.hna-ps5 {
  background-color: #000000;
  grid-column: span 2;
  grid-row: span 2;
}
.hna-women {
  grid-column: span 2;
}
.hna-speakers {
  background-color: #000000;
}
.hna-perfume {
  background-color: #000000;
}
.hna-bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 80px;
}
.hna-box-container {
  text-align: center;
  h3 {
    margin-bottom: 10px;
  }
}
.hna-icon {
  background: #000000;
  border-radius: 50%;
  border: 10px solid #b4b4b8;
  margin-bottom: 15px;
}
/* Erkin Homepage New Arrivals END */
/* MA-8 */

.footer-section {
  display: flex;
  flex-direction: column;
  background-color: #000000;

  justify-content: center;
}
.footer-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-evenly;
  color: #fafafa;
}
.footer-bottom span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #ffffff;
  border-top: 1px solid #fafafa;
}
ul {
  list-style: none;
}
.footer-bottom {
  padding-top: 20px;
}

.x {
  margin-bottom: 10px;
}
.appQR-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.appQR-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.f-logos-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #bbb;
  padding: 5px;
  border-radius: 5px;
  background-color: #000;
}

.email-input {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  padding: 5px;
  flex: 1;
}

.submit-button {
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
}

.submit-button:hover {
  color: #fff;
}

/* Umut End Today's Product*/
