.wishlist-page {
  max-width: 1350px;
  margin: 0 auto;
}
.wp-container {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 0;
  padding: 20px;
}
.wp-button {
  width: 223px;
  height: 56px;
  border-radius: 4px;
  background-color: white;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.wp-bottom-container {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 0;
  padding: 20px;
}
.wp-bottom-container button {
  width: 159px;
  height: 56px;
}
.wp-logo {
  background-color: #db4444;
  border-radius: 4px;
  width: 20px;
  height: 40px;
}
.wp-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.wp-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wpProductContainer {
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: center;
}
.wp-btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wp-cart-remove-btns {
  background-color: #000000;
  color: #f2613f;
  border-radius: 4px;
  cursor: pointer;
}
.wpProduct {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  height: 100%;
  align-items: center;
  h4 {
    height: 50px;
    text-align: center;
  }
  img {
    width: 180px;
    height: 225px;
  }
}
.wpPrice {
  margin-top: auto;
}
.wp-btns {
  display: flex;
  gap: 10px;
  .wp-arrow-btn {
    cursor: pointer;
  }
}
